.homeContainer {
  .catsList {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

.breedsDropdown {
  width: 30%;
  text-align: left;
}

.catCard {
  margin-top: 10px;
  margin-bottom: 10px;
  
  .btn-details {
    text-align: center;
    margin: auto;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}